<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<table border="1">
    <caption>Table users1</caption>
    <tr>
        <th>User id</th>
        <th>User name</th>
        <th>User password</th>
        <th>User email</th>
        <th>User city</th>
        <th>Role</th>
        <th>edit</th>
        <th>delete</th>

    </tr>

    <tr th:each="user : ${users}">

        <td th:text="${user.id}"/>
        <td th:text="${user.username}"/>
        <td th:text="${user.password}"/>
        <td th:text="${user.email}"/>
        <td th:text="${user.city}"/>
        <td th:text="${user.roles}"/>
        <td>
            <a th:href="@{/edituser/{id}(id=${user.getId()})}">Edit</a>
        </td>
        <td>
            <a th:href="@{/delete/{id}(id=${user.getId()})}">Delete
                <!--                <input type="submit" value="Delete user">-->
            </a>
        </td>
    </tr>

</table>

<br/>
<a href="/addnew" class="adduser">new user</a>
<a href="/user"><input type="submit" value="User Page"></a>

<form action="/logout" method="POST">
    <button type="submit">Logout</button>
</form>

</html>>